<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
        
    <!--security-constraint>
        <web-resource-collection>
            <url-pattern>/privado/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>        
        <auth-constraint>
            <role-name>cliente</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-role>
        <role-name>cliente</role-name>
    </security-role>    
    -->

</web-app>
